<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Star Signals | $$CURRENT$$</title>
	<link rel="stylesheet" href="../css/style.css"/>
	<link rel="stylesheet" href="../css/foundation.css"/>
	<link rel="icon" href="../public/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="off-canvas-wrapper">
        <!-- Your page content lives here -->
        <div class="off-canvas-content" data-off-canvas-content>
            <!-- main content within a `grid-container` -->
            <div class="grid-container full-width full-height">
                <!-- `grid-x` represents a row -->
			</div>
			<div class="grid-container full-width full-height">
				<div class="grid-x grid-padding-x full-width align-center">
					<div class="cell small-3 large-3"><a href="$$PREV$$">Previous</a></div>
					<div class="cell small-3 large-3"><h1 class="header">$$CURRENT$$</h1></div>
                    <div class="cell small-3 large-3"><a href="$$NEXT$$">Next</a></div>
					<div class="cell small-3 large-3"><a href=".." class="button" style='margin-right:16px'>Home Page</a></div>
					<div class="cell small-12 large-12">
					<table>
						<thead>
							<tr>
								<th>Planet Name</th>
								<th>Discovery Method</th>
								<th>Discovery Year</th>
								<th>Discovery Facility</th>
								<th>Orbital Period (days)</th>
								<th>Planet Mass (Earth masses)</th>
								<th>Distance from Earth (pc)</th>
							</tr>
						</thead>
						<tbody>
							$$TABLE_BODY$$
						</tbody>
					</table>
					</div>
				</div>
			</div>	
		</div>
	</div>
</body>
</html>
